.menu li {
    padding: 5px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #2196f3;
}

.logo {
    height: 60px;
}

.logo img {
    display: block;
    margin: auto;
}

.status {
    height: 60px;
}

.menu {
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
}

.dash-painel {
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
}